@import 'colors.scss';

.all_news{
    width: 70%;
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 10%;
    h1{
        color: $feedheader
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        a{
            color: $feedtext;
            text-decoration: none;
            font-size: 150%;
        }
        li{


        }
    }
}

.news_header{
    position: absolute;
    top: 70%;
    left: 0%;
}