@import 'breakpoints.scss';

.index-header {
    margin: auto;
    max-width: 500px;
    padding: 25px;

    text-align: center;
    font-family: $branding-font;
    font-weight: 900;
    font-size: 2em;
    color: $darkgreytext;
}

.feed-container {
    display: table;
    padding-bottom: 75px;
    width: 100%;

    font-family: $standard-font;
    font-weight: bold;

    .feed {
        display: table-cell;
        padding: 60px 30px;
        width: 400px;

        @media (max-width: $breakpoint-tablet) {
            display: block;
            width: 100%;
            padding: 25px 0px;

        }

        .title {
            display: inline;
            text-decoration: none;
            color: $feedheader;
            font-size: 1.2em;
        }

        .see_all {
            font-size: 1em;
            float: right;
            text-decoration: none;
            color: $greytext;

        }

        ul {
            list-style-type: none;
            padding-left: 0;
            border-top: 1px solid $feedborder;
            margin-top: 10px;

            li {
                list-decoration: none;
                margin-top: 10px;
                margin-bottom: 15px;

                a {
                    padding-bottom: 5px;
                    text-decoration: none;
                    display: block;
                    color: $feedtext;
                }

                time {
                    font-weight: normal;
                    color: $greytext;
                }
            }
        }
    }
}


