.index-header {
    font-family: $standard-font;
    font-weight: bold;
    font-size: 1.5em;
    color: $darkgreytext;
    text-align: center;
    margin: auto;
    max-width: 500px;
    padding: 50px;
}

.feed-container {
    font-family: $standard-font;
    display: table;
    margin: auto;
    padding-bottom: 75px;
    font-weight: bold;

    .feed {
        display: table-cell;
        padding: 25px 30px;
        width: 400px;
        min-width: 300px;

        @media (min-width : 320px) and (max-width : 480px) {
            display: block;
            width: 400px;
        }

        .title {
            display: inline;
            text-decoration: none;
            color: $feedheader;
        }

        .see_all {
            font-size: 0.7em;
            float: right;
            text-decoration: none;
            color: $greytext;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
            border-top: 1px solid $feedborder;
            margin-top: 10px;
            font-size: 0.8em;
            
            li {
                list-decoration: none;
                margin-top: 10px;
                margin-bottom: 15px;
               
                a {
                    
                    text-decoration: none;
                    display: block;
                    color: $feedtext;
                }
               
                time {
                    font-weight: normal;
                    color: $greytext;
                }
            }
        }
    }
}


