@import 'fonts.scss';
@import 'colors.scss';
@import 'news.scss';
@import 'index.scss';
@import 'reset.scss';
@import 'breakpoints.scss';


body {
    font-size: 16px;
    margin: 0;
}

.main-header {
    background: linear-gradient($bg-blue, $bg-purple);
    padding-bottom: 120px;
    color: white;
    font-family: $branding-font;

    .nav {

        display: table;
        margin: auto;
        margin-bottom: 90px;
        max-width: 1800px;
        width: 100%;

        text-transform: uppercase;
        font-weight: 600;
        text-align: center;

        ul {
            margin: 0;
            
            li {
                list-style-type: none;
                display: inline-block;
                padding: 5px 10px;
            }
        }
        
        .logo,
        .main-nav,
        .about-nav {
            vertical-align: middle;
            display: inline-block;
            display: table-cell;

            @media (max-width: $breakpoint-m) {
                display: none;
            }
        }

        .logo {
            text-align: left;

            @media (max-width: $breakpoint-m) {
                vertical-align: middle;
                display: inline-block;
                padding-top: 25px;

                text-align: center;
            }

             img {
                width: 7em;
                padding: 15px;
            }
        }
        
        .main-nav {
           text-align: center;
        }
        
        .about-nav {
            text-align: right;
            padding: 15px;
        }
       
       .logo,
       .about-nav {
           width: 300px;
       }
    }

    .jumbotron {
        text-align: center;
        margin: auto;
        
        .jumbotron-title{
            font-size: 2.2em;
            font-weight: 700;
        }
        
        .carousel {
            padding-top: 80px;
            margin: auto;
            visibility: hidden;

            width: 60%;
            max-width: 38em;
            min-width: 10em;
        }

        .slick-initialized {
            visibility: visible;
        }

        p {
            max-width: 800px;
            margin: auto;
            line-height: 180%;
            margin-bottom: 40px;

            font-family: $standard-font;
        }

        .cta {
            text-align: center;
            padding-top: 70px;
        }
    }
}

.button {
    display: inline-block;
    padding: 14px 26px;
    text-transform: uppercase;
    background-color: $button-green;
    border: 0px;
    border-radius: 5px;

    color: white;
    font-family: $branding-font;
    font-weight: 700;
    font-size: 1.1em;

        @media (max-width: $breakpoint-m) {
        font-size: 1.5em;
        }
}

footer {
    position: relative;
    text-align: center;
    font-family: $standard-font;
    color: $greytext;
}

.main-content {
    max-width: 1000;
    margin: 0 auto;
    padding: 30px;
}

