@import 'fonts.scss';
@import 'fonts.scss';

@import 'all_news.scss';
@import 'press.scss';
@import 'news.scss';
@import 'input.scss';


.basebody {

    min-width: 2000px;
    background-image: linear-gradient($bg-blue, $bg-purple);
    background-size: 100% 65%;
    background-repeat: no-repeat;
    img{
        max-width: 120px;
        min-width: 120px;
        }

    footer {
        position: fixed;
        bottom: 0;
        left: 50%;
        color: $feedheader;
        font-family: $standard-font;
        font-size: 80%
    }

}


.buttonstart {

    width: 150px;
    background-color: $button-green;
    color: white;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 3px;

    height: 4%;
    font-size: 110%;
    font-family: $branding-font;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 45%;
    border: 0px;
    letter-spacing: 0.5px;
}

.feed-container {
    top: 10%;
    }

.news {
    min-width: 150px;
    max-width: 400px;
    width: 30%;
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 60%;
    font-size: 100%;
      .title {
        display: inline-block;
        margin-right: 60%;
        text-decoration: none;
        color: $feedheader;

       }
    .view_all {
        display: inline-block;
        margin-right: 50px;
        text-decoration: none;
        color: $feedheader;


    }
    ul{
        font-size: 70%;
        font-weight: bold;
        list-style-type: none;
        padding-left: 0;
        border-top: 1px groove $feedborder;
        padding-top: 10px;

        li{
            list-style-type: none;
            list-decoration: none;
            padding-top: 10px;

            a {
                font-family: $branding-font;
                font-size: 120%;
                text-decoration: none;
                display: block;
                color: $feedtext;
            }
            time {
                font-weight: normal;
                font-size: 130%;
            }
        }
    }
}


.press {
    min-width: 150px;
    max-width: 400px;
    width: 30%;
    position: absolute;
    top: 70%;
    left: 20%;
    font-size: 100%;
     .title {
        display: inline-block;
        margin-right: 60%;
        text-decoration: none;
        color: $feedheader;

       }
    .view_all {
        display: inline-block;
        text-decoration: none;
        color: $feedheader;


    }
    ul{
        font-size: 70%;
        font-weight: bold;
        list-style-type: none;
        padding-left: 0;
        border-top: 1px groove $feedborder;
        padding-top: 10px;

        li{
            list-style-type: none;
            list-decoration: none;
            padding-top: 10px;

            a {
                font-family: $branding-font;
                font-size: 120%;
                text-decoration: none;
                display: block;
                color: $feedtext;
            }
            time {
                font-weight: normal;
                font-size: 130%;
            }
        }
    }
}