@import 'all_news.scss';
@import 'colors.scss';
@import 'press.scss';

@import url('http://fonts.googleapis.com/css?family=Titillium+Web');
@import url('http://fonts.googleapis.com/css?family=PT+Sans');



body {
    min-width: 800px;
    background-image: linear-gradient($bg-blue, $bg-purple);
    background-size: 100% 65%;
    background-repeat: no-repeat;
    img{
        width: 10%;
        }


}


.buttonstart {

    background-color: $button-green;
    color: white;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    width: 14%;
    height: 4%;
    font-size: 110%;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 42.5%;
    border: 0px;
}

.news {
    width: 30%;
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 60%;
    font-size: 100%;
    .view_all {
        display: inline-block;
        margin-right: 50px;
        text-decoration: none;
        color: $feedheader;


    }
    ul{
        font-size: 70%;
        font-weight: bold;
        list-style-type: none;
        padding-left: 0;
        border-top: 1px groove grey;

        li{
            list-style-type: none;
            list-decoration: none;

            a {
                font-family: "Titillium Web", sans-serif;
                font-size: 120%;
                text-decoration: none;
                display: block;
                color: $feedtext;
            }
            time {
                font-weight: normal;
                font-size: 130%;
            }
        }
    }
}

.press {
    width: 30%;
    position: absolute;
    top: 70%;
    left: 20%;
    font-size: 100%;
    .view_all {
        display: inline-block;
        margin-right: 50px;
        text-decoration: none;
        color: $feedheader

    }
    ul{
        font-size: 70%;
        font-weight: bold;
        list-style-type: none;
        padding-left: 0;
        border-top: 1px groove grey;

        li{
            list-style-type: none;
            list-decoration: none;

            a {
                font-family: "Titillium Web", sans-serif;
                font-size: 120%;
                text-decoration: none;
                display: block;
                color: $feedtext;
            }
            time {
                font-weight: normal;
                font-size: 130%;
            }
        }
    }
}