


.single_news{

    width: 70%;
    max-width: 1000px;
    display: inline-block;
    position: relative;
    top: 70%;
    left: 20%;


    h1{

        color: $feedheader;
    }
    ul{

        list-style-type: none;
        padding-left: 0;


        a{
            color: $feedtext;
            text-decoration: none;
            font-family: standard-font;
            font-size: 150%;
            display: block;

        }
        li{



        }
    }
}