@import 'fonts.scss';


.single_news{
    position: relative;
    display: block;
    padding: 50px;
    //korrekt losning med max-width och display:block ?
    margin: auto;
    max-width: 700px;



    h1{
        color: $feedheader;
        padding-bottom: 10px;
        font-size: 2em;
    }
    ul{
        list-style-type: none;
        .news-header{
            padding-bottom: 10px;
            a{
                padding-right: 10px;
                color: $feedtext;
                text-decoration: none;
                font-family: $standard-font;
            }
        }
    }
}



