{% extends 'base.html' %}

{% block content %}
<body>
<div class="news">
    <h1>NEWS</h1>
     <ul>
    {% for item in news %}
    	<div>
           <div class='news-header'>
                <a href="{{item.slug}}">{{ item.title }},</a>
                <time>{{item.pubdate}}</time>
            </div>
	         <p>
                {{ item.body|linebreaks|truncatewords:100 }}<a class='read-more' href="{{item.slug}}">Read more</a>
             </p>
             <hr width="50%">
        </div>
    {% endfor %}
    </ul>
</div>
</body>
</html>
{% endblock %}
