{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Title</title>
</head>
<body>
<div class="news">
    <h1>NEWS</h1>
     <ul>
    {% for item in news %}
    	<div>
           <div class='news-header'>
                <a href="{{item.slug}}">{{ item.title }},</a>
                <time>{{item.pubdate}}</time>
            </div>
	         <p>{{ item.body|linebreaks }}</p>
        </div>
    {% endfor %}
    </ul>
</div>
</body>
</html>
{% endblock %}



<!-- 

<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Title</title>
</head>
<body>
<div class="all_news">
    <h1>NEWS</h1>
     <ul>
    {% for item in news %}
         <li><a href="{{item.slug}}">{{ item.title }}</a></li>
         <li>{{ item.pubdate }}</li>
         <li>{{ item.body|linebreaks }}</li>
    {% endfor %}
    </ul>
</div>
</body>
</html> -->
