{% load staticfiles %}
{% load compress %}



<html>
    <head>
        <meta charset="utf-8">
        <title>Claes</title>

        {% compress css %}
        <link rel="stylesheet" href="{% static 'style/main.scss' %}" type="text/x-scss" media="screen">
        {% endcompress %}
    </head>

    <body>
        <div class="main-header">
            <div class="nav">
                <div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static "images/logo.png" %}"></a>
                </div>
                <div class="main-nav">
                    <ul>
                        <li>SERVICES</li>
                        <li>PRODUCTS</li>
                        <li>BLOG</li>

                    </ul>
                </div>
                <div class="main-nav">
                    <ul>
                        <li>ABOUT</li>
                        <li>CONTACT</li>
                    </ul>
                </div>  
            </div>
            <div class="jumbotron">
                <button class="buttonstart">GET STARTED</button>
            </div>
        </div>
        {% block content %}{% endblock %}

        {% compress js %}
        <script type="text/javascript" src="{% static 'script/app.js' %}"></script>
        {% endcompress %}

    </body>
    <footer>
            See you in a couple of days! :D
    </footer>
</html>