{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEstt</title>
</head>
<body>

{% block content %}

<div class="feed-container">
    <div class="press">
        <h3 class="title">Press</h3>
        <a class="view_all" href="/press">See all</a>
        <ul>
        {% for press in output_press %}
            <li>
                <a href="{{press.url}}">{{press.title}}</a>
                <time>{{press.source}} - {{press.pubdate}}</time>
            </li>

            {% endfor %}
        </ul>
    </div>
    <div class="news">
        <h3 class="title">News</h3>
        <a class="view_all"href="/news">See all</a>
        <ul>
        {% for news in output_news %}
            <li>
                <a href="/news/{{news.slug}}">{{ news.title }}</a>
                <time>{{ news.pubdate }}</time>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

</body>

</html>
