{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEstt</title>
</head>
<body>
    <button name="buttonstart">GET STARTED</button>
    <div class="press">
        <ul>
    {% for press in output_press %}
        <ul><a href="{{press.url}}">{{ press.title }}</a></ul>
        <ul>{{ press.source }} {{ press.pubdate }}</ul>


{% endfor %}
    </ul>
    </div>

<div class="news">

    <ul>
{% for news in output_news %}
        <ul><a href="http://google.com">{{ news.title }}</a></ul>
        <ul>{{ news.pubdate }}</ul>
{% endfor %}
</ul>
    </div>
</body>
</html>
{% endblock %}