{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

</head>
<body>
{% block content %}
<h1 class='index-header'>Welcome to this awesome site!</h1>
<div class="feed-container">
    <div class="feed">
        <h3 class="title">Press</h3>
        <a class="see_all" href="/press">See all</a>
        <ul>
        {% for press in output_press|slice:":3" %}
            <li>
                <a href="{{press.url}}">{{press.title}}</a>
                <time>{{press.source}} — {{press.pubdate}}</time>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="feed">
        <h3 class="title">News</h3>
        <a class="see_all"href="/news">See all</a>
        <ul>
        {% for news in output_news|slice:":3" %}
            <li>
                <a href="/news/{{news.slug}}">{{ news.title }}</a>
                <time>{{ news.pubdate }}</time>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
</body>

</html>
