<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><div>
        PRESS INPUT
         <form action="/input/" method="post">
            {% csrf_token %}
            {{ pressform }}
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div>
        NEWS INPUT
        <form action="/input/" method="post">
            {% csrf_token %}
            {{ newsform }}
            <input type="submit" value="Submit" />
        </form>
    </div>
 <div>
     PIC UPLOAD
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ picform }}
    <button type="submit">Upload</button>
  </form>
</div>
</body>
</html>