{% extends 'base.html' %}

{% block content %}
<body>
<div class="news">
    <h1>NEWS</h1>
     <ul>
    {% for item in news|slice:":5" %}
    	<div>
           <div class='news-header'>
                <a href="{{ item.slug }}">{{ item.title }},</a>
                <time>{{ item.pubdate }}</time>
            </div>
	         <p>
                {{ item.body|linebreaks|truncatewords:100 }}<a class='read-more' href="{{ item.slug }}">Read more</a>
             </p>
             <hr width="50%">
        </div>
    {% endfor %}
    </ul>
</div>
<div class="pagination">
    <span class="step-links">
        {% if news.has_previous %}
            <a href="?page={{ news.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ news.number }} of {{ news.paginator.num_pages }}
        </span>

        {% if news.has_next %}
            <a href="?page={{ news.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</body>
</html>
{% endblock %}
