{% extends 'input_base.html' %}
{% load staticfiles %}
{% load compress %}

<html>
    <head>
        <meta charset="utf-8">
        <!--<title>{% block title %}{% endblock %}</title>-->
        <title>News Form</title>

    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        {% block content %}
            <form action="/newsform/" method="post">
            {% csrf_token %}
                <ul>
                    <li>
                        <textfield>{{ newsform.title }}</textfield>
                        <textfield>{{ newsform.body }}</textfield>
                        <date>{{ newsform.pubdate }}</date>
                    </li>
                </ul>

            <input type="submit" value="Submit" />
        </form>
        {% endblock %}
    </body>
</html>