{% extends 'input_base.html' %}
{% load staticfiles %}
{% load compress %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8">

        <title>Press Form</title>
    </head>

    <body class="{% block bodyclass %}{% endblock %}">


        <form action="/pressform/" method="post">
            {% csrf_token %}
            {{ pressform }}
            <input type="submit" value="Submit" />
        </form>

        {% compress js %}
        <script type="text/javascript" src="{% static 'script/app.js' %}"></script>
        {% endcompress %}
    </body>
</html>
{% endblock %}