{% extends 'base.html' %}

{% block content %}
<body>
<div class="news">
    <h1>PRESS</h1>
        <ul>
    {% for item in press|slice:":5" %}
            <div class='press-header'>
                <li>
                    <a href={{ item.url }}>{{ item.title }}</a>
                    <time>{{ item.pubdate }}</time>
                </li>
            </div>
    {% endfor %}
    </ul>
</div>
<div class="pagination">
    <span class="step-links">
        {% if press.has_previous %}
            <a href="?page={{ press.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ press.number }} of {{ press.paginator.num_pages }}
        </span>

        {% if press.has_next %}
            <a href="?page={{ press.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
</body>
</html>
